body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3036px;
  background: #FAF7F2;
  ;
}

.ustkutu {
  width: 100%;
  height: 1080px;
  background-image: url(public/assets/iteration-1/home-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#baslik {
  margin: 0;
  padding: 50px;
  font-size: 50px;
  font-family: Londrina Solid;
  font-weight: 400;
  line-height: 50px;
  color: white
}

.ustkutuici {
  width: 650px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#firsat {
  font-family: Satisfy;
  font-size: 32px;
  font-weight: 400;
  line-height: 44.27px;
  color: #FDC913;
  margin: 0;
}

#aciktirir {
  font-family: Roboto Condensed;
  font-size: 86px;
  font-weight: 300;
  line-height: 92px;
  letter-spacing: 1.5px;
  color: white;
  margin: 0;
}

#aciktim {
  width: 193.27px;
  height: 56px;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 600;
  line-height: 56px;
  color: #292929;
  background: #FDC913;
  border-radius: 50px;
  text-decoration: none;
  margin: 30px;
}

.ustkutualt {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.ustkutualtliste {
  margin: 0px;
  width: 1068px;
  height: 42px;
  padding: 0px;
  display: flex;
  justify-content: space-between;

}

.ustkutualtlisteitem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ustkutualtlistemetin {
  list-style-type: none;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  text-align: left;
  color: #292929;
  text-decoration: none;
}

.ortakutu1 {
  width: 1072px;
  height: 449px;
  margin-top: 68px;
  display: flex;
  gap: 10px;
}

.ozellezzetus {
  width: 532px;
  height: 450px;
  background-image: url(public/assets/iteration-2/cta/kart-1.png);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.ozellezzetusmetin {
  width: 300.61px;
  height: 251.75px;
  padding-top: 44px;
  padding-left: 49px;
  display: flex;
  flex-direction: column;
}

#lezzetus {
  font-family: Quattrocento;
  font-size: 68px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  margin: 0;
  color: white;
}

#position {
  font-family: Barlow;
  font-size: 20px;
  font-weight: 600;
  line-height: 26.76px;
  text-align: left;
  color: white;
}

.siparisver {
  width: 138px;
  height: 48px;
  background-color: white;
  border-radius: 50px;
  color: #CE2829;
  font-family: Barlow;
  font-size: 14px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
}

.hburgermenunpm {
  width: 531px;
  height: 450px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hburger {
  width: 531px;
  height: 220px;
  background-image: url(public/assets/iteration-2/cta/kart-2.png);
  background-size: cover;
  border-radius: 12px;
}

.hburgernpm {
  width: 530px;
  height: 220px;
  background-image: url(public/assets/iteration-2/cta/kart-3.png);
  background-size: cover;
  border-radius: 12px;
  background-repeat:repeat-x;
}

.ortakutu1kapsam {
  display: flex;
  justify-content: center;
}

#hburgermetinbaslik {
  font-family: Barlow;
font-size: 32px;
font-weight: 600;
line-height: 44.27px;
text-align: left;
color: white;
}
.hburgermetin {
  padding-top: 0px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

#npmmetin {
  font-family: Barlow;
font-size: 32px;
font-weight: 600;
line-height: 44.27px;
text-align: left;
color: black;
}

#çook{
 color: red;
}
.hburgernpmmetin {
  padding-top: 0px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

#encokpaket {
  font-family: Satisfy;
font-size: 32px;
font-weight: 400;
line-height: 44.27px;
text-align: center;
color: #CE2829;
margin-bottom: 5px;
}

#aciktirankod {
  font-family: Barlow;
font-size: 42px;
font-weight: 600;
line-height: 56.2px;
text-align: center;
margin-top: 0px;
margin-bottom: 0px;
}

.ortametin {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.ortakutualt {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ortakutualtliste {
  margin: 0px;
  width: 1068px;
  height: 42px;
  padding: 0px;
  display: flex;
  justify-content: space-between;

}

.ortakutualtlisteitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 35px 20px 35px 20px;
  gap:10px;
}
.ortakutualtlistemetin {
  list-style-type: none;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  color: #292929;
  text-decoration: none;
  text-align: right;
}

#pizzadiv {
  background-color: black;
}
#pizzametin {
  color: white;
}

.ortakutu2kapsam {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 50px;
}

.ortakutu2kapsam div {
  background-color: white;
 border-radius: 12px;
 text-align: center;
 padding-top: 0px;
}


.ortakutu2metin {
  display: flex;
  flex-direction: column;
}

.ortakutu2metinici {
  display: flex;
  justify-content: space-between;
}
.ortakutu2metinici2 {
  display: flex;
  gap: 70px;
  align-items: center;
  margin: 0;
  padding: 0;

}
.ortakutu2urunisim {
  font-family: Barlow;
font-size: 22px;
font-weight: 600;
line-height: 29.44px;
text-align: left;
padding-left: 15px;
margin: 0;
}

.ortakutu2puan {
  font-family: Barlow;
font-size: 16px;
font-weight: 600;
line-height: 28.8px;
text-align: left;
padding-left: 15px;
}

.ortakutu2tutar {
  font-family: Barlow;
font-size: 20px;
font-weight: 700;
line-height: 24.76px;
text-align: right;
padding-right: 15px;
}

.resimler {
  width: 80%;
  height: 80%;
  object-fit: contain; 
}

.footerkapsam {
  background-color: #1A1A1A;
  margin-top: 100px;
 
}

.altbilgi {
  width: 1920px;
height: 89.8px;
gap: 0px;
border-top: 1px solid #FFFFFF26;
align-self: flex-end;
}
.iletisimmetin {
  font-family: Barlow;
font-size: 18px;
font-weight: 400;
line-height: 32.4px;
text-align: left;
color: white;
}
.footeriletisimliste {
  display: flex;
  gap: 20px;
}
.footerbaslik {
  font-family: Londrina Solid;
font-size: 50px;
font-weight: 400;
line-height: 50px;
text-align: left;
color: white;
margin-bottom:  25px;
}
.iconlar {
  width: 28px;
  height: 28px;
  align-self: center;
}
.footeriletisimlistekapsam {
  padding: 0;
}
.footermenubilgibaslik {
  font-family: Barlow;
font-size: 24px;
font-weight: 500;
line-height: 32.11px;
text-align: left;
color: white;
}
.footermenuurunler {
  font-family: Barlow;
font-size: 18px;
font-weight: 400;
line-height: 32.4px;
text-align: left;
color: white;
list-style-type: none;
}
.footermenulistekapsam {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerinstabaslik {
  font-family: Barlow;
font-size: 24px;
font-weight: 500;
line-height: 32.11px;
text-align: left;
color: white;
}
.footerkapsam {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.genel {
  display: flex;
  
}
.footermetinler {
  display: flex;
  gap:50px;
}
.footerinstaliste {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  padding: 0;
  justify-content: space-between;
  row-gap: 10px;
}
.iletisim {
padding-bottom: 50px;
}
.footermenubilgi{
  padding-top: 100px;
}
.footerinsta {
  padding-left: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footerenaltmetin {
  font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 28.8px;
text-align: left;
color: white;
}
.altbilgi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.altbilgimetinler {
  width: 1064.58px;
height: 27px;
}
